<!--
<div class="carbon-fiber-background">
    <div class="modal-header">
        <h3 class="modal-title-corvette">
            Tri-Lakes Corvette Club
            <br /><br />
            <span class="register-title">Forgot Password</span>
        </h3>
    </div>
    <form name="forgotPasswordModal.forms"
          ng-submit="forgotPasswordModal.sendReminderEmail()">
        <div class="modal-body">
            <h4 for="EmailAddress"
                   class="forgot-password">
                Enter the Email Address You Used to Register
                <br />
                <span class="forgot-password-subtitle">
                    A link will be sent to reset your password
                </span>
            </h4>
            <div class="input-group col-sm-12 col-md-12 col-lg-12"
                 ng-class="{'has-error': {{forgotPasswordModal.EmailAddressMaster}}}">
                <input type="email"
                       name="EmailAddress"
                       class="form-control"
                       placeholder="Email Address"
                       aria-describedby="EmailAddress"
                       ng-model="forgotPasswordModal.EmailAddress"
                       ng-focus="forgotPasswordModal.setFocus('EmailAddress')"
                       ng-blur="forgotPasswordModal.setBlur('EmailAddress')"
                       required>
                <div ng-show="{{forgotPasswordModal.EmailAddressInvalid}}"
                     class="text-danger">
                    Please enter a valid email address.
                </div>
                <div ng-show="{{forgotPasswordModal.EmailAddressRequired}}"
                     class="text-danger">
                    Email Address is required.
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-3 col-md-3 col-lg-3 pull-right">
                    <button class="btn btn-submit btn-block btn-lg"
                            type="submit"
                            remove-modal>Reset</button>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 pull-left">
                    <button class="btn btn-cancel btn-block btn-lg"
                            ng-click="forgotPasswordModal.cancel()"
                            remove-modal>Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
-->
<div class="carbon-fiber-background">
    <div class="modal-header">
        <h3 class="modal-title-corvette">
            Tri-Lakes Corvette Club
            <br /><br />
            <span class="register-title">Register</span>
        </h3>
    </div>
    <form name="forgotPasswordModal.forms"
          ng-click="forgotPasswordModal.ok(forgotPasswordModal.forms)"
          novalidate>
        <div class="modal-body">
            <h4 for="EmailAddress"
                class="forgot-password">
                Enter the Email Address You Used to Register
                <br />
                <span class="forgot-password-subtitle">
                    A link will be sent to reset your password
                </span>
            </h4>
            <div class="input-group col-sm-12 col-md-12 col-lg-12"
                 ng-class="{'has-error': {{forgotPasswordModal.EmailAddressMaster}}}">
                <input type="email"
                       name="EmailAddress"
                       class="form-control"
                       placeholder="Email Address"
                       aria-describedby="EmailAddress"
                       ng-model="forgotPasswordModal.EmailAddress"
                       auto-focus
                       required>
                <div ng-show="{{forgotPasswordModal.EmailAddressInvalid}}"
                     class="text-danger">
                    Please enter a valid email address.
                </div>
                <div ng-show="{{forgotPasswordModal.EmailAddressRequired}}"
                     class="text-danger">
                    Email Address is required.
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="col-sm-3 col-md-3 col-lg-3 pull-right">
                <button class="btn btn-submit btn-block btn-lg">
                    Register
                </button>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 pull-left">
                <button class="btn btn-cancel btn-block btn-lg"
                        ng-click="registerModal.cancel()"
                        remove-modal>
                    Cancel
                </button>
            </div>
        </div>
    </form>
</div>
