<div class="carbon-fiber-background">
    <div class="modal-header">
        <h3 class="modal-title-corvette">
            Tri-Lakes Corvette Club
            <br /><br />
            <span class="register-title">Forgot Password</span>
        </h3>
    </div>
    <div class="modal-body">
        <form name="forgotPasswordModal.forms" ng-submit="forgotPasswordModal.sendReminderEmail()">
            <div class="input-group col-sm-11 col-md-11 col-lg-11"
                 ng-class="{'has-error': {{forgotPasswordModal.EmailAddressMaster}}}">
                <h4 for="EmailAddress"
                       class="forgot-password">
                    Enter the Email Address You Used to Register
                    <br />
                    <span class="forgot-password-subtitle">
                        A link will be sent to reset your password
                    </span>
                </h4>
                <input type="email"
                       name="EmailAddress"
                       class="form-control"
                       placeholder="Email Address"
                       aria-describedby="EmailAddress"
                       ng-model="forgotPasswordModal.EmailAddress"
                       ng-focus="forgotPasswordModal.setFocus('EmailAddress')"
                       ng-blur="forgotPasswordModal.setBlur('EmailAddress')"
                       required>
                <div ng-show="{{forgotPasswordModal.EmailAddressInvalid}}"
                     class="text-danger">
                    Please enter a valid email address.
                </div>
                <div ng-show="{{forgotPasswordModal.EmailAddressNonUnique}}"
                     class="text-danger">
                    Sorry but this email address has already been used
                </div>
                <div ng-show="{{forgotPasswordModal.EmailAddressRequired}}"
                     class="text-danger">
                    Email Address is required.
                </div>
            </div>
        </form>
        <div class="modal-footer">
            <div class="col-sm-3 col-md-3 col-lg-3 pull-right">
                <button class="btn btn-submit btn-block btn-lg"
                        type="submit"
                        remove-modal>Reset</button>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 pull-left">
                <button class="btn btn-cancel btn-block btn-lg"
                        ng-click="forgotPasswordModal.cancel()"
                        remove-modal>Cancel</button>
            </div>
        </div>
    </div>
</div>
