<div id="login" class="full-screen carbon-fiber-background"
     perfect-parallax parallax-ratio=".5" parallax-css="background-position-y" parallax-init-val="-100">
    <div class="login-title"
         perfect-parallax parallax-ratio="1.2" parallax-css="top" parallax-init-val="-65">
        Login
    </div>
    <div class="input-group login-text"
         perfect-parallax parallax-ratio="0.7" parallax-css="bottom" parallax-init-val="-800">>
        <input type="text" class="form-control" placeholder="Username">
        <input type="password" class="form-control" placeholder="Password">
        <br />
        <a href=""
           class="pull-right login-forgot-password"
           ng-click="launchPage.forgotPassword()">Forgot Password?</a>
    </div>
    <div class="login-submit"
         perfect-parallax parallax-ratio="0.9" parallax-css="bottom" parallax-init-val="-1030">
        <button type="button"
                class="btn btn-submit btn-lg btn-block col-lg-12">
            Login
        </button>
    </div>
</div>
