<div class="club-events-home col-lg-12"
     ng-init="events.loadEvents();">
    <h2 class="header">
        Upcoming Events
    </h2>
    <div ng-repeat="event in events.events"
         class="col-lg-10 col-lg-offset-1 widget-item"
         add-pointer
         event-type="{{event.type}}"
         tooltip="Open {{event.name}}">
        <div class="glyphicon glyphicon-calendar col-lg-2 widget-list widget-icon"></div>
        <div class="col-lg-4 widget-list">{{event.name}}</div>
        <div class="col-lg-3 widget-list">{{event.location}}</div>
        <div class="col-lg-3 widget-list">{{event.date}}</div>
        <div class="col-lg-12 hide-description text-black">
            {{event.description}}
        </div>
    </div>
    <div class="col-lg-12">
        <div class="glyphicon glyphicon-calendar col-lg-2 text-dark-blue"><span>Meeting</span></div>
        <div class="glyphicon glyphicon-calendar col-lg-2 text-bright-red"><span>Trip</span></div>
        <div class="glyphicon glyphicon-calendar col-lg-2 text-yellow"><span>Run</span></div>
        <div class="glyphicon glyphicon-calendar col-lg-2 text-white"><span>Outing</span></div>
    </div>
</div>
