<div ng-controller="CarouselDemoCtrl">
    <div style="">
        <carousel interval="myInterval" set-carousel-items-custom>
            <slide ng-repeat="slide in slides" ng-init="copiedSlides = slides" active="slide.active" active-slide="{{slide}}">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <div class="carousel-caption-custom" set-carousel-indicator-image>
                    <h4>Slide {{slide.description}}</h4>
                    <p>{{slide.owner}}</p>
                </div>
            </slide>
            <div style="margin: 0 auto; width: 100%; text-align: center; margin-top: 20px;">
                <a ng-click="select(slide2)" href="" ng-repeat="slide2 in masterSlides track by $index">
                    <img ng-src="{{slides[$index].image}}"
                         ng-class='{"carousel-active": slides[$index].active}'
                         style="
                                padding: 2px;
                                bottom: -110px;
                                max-width: 50px;
                                max-height: 50px;
                                min-width: 50px;
                                min-height: 50px;
                                border-radius: 50%;
                                margin: 0 auto;
                                text-align: center;">
                </a>
            </div>
        </carousel>
    </div>
</div>

