<div id="login" class="full-screen carbon-fiber-background" hide-scroll perfect-parallax parallax-ratio=".5" parallax-css="background-position-y" parallax-init-val="100">
    <div class="login-title" perfect-parallax parallax-ratio="1.2" parallax-css="top" parallax-init-val="-190">
        Login
    </div>
    <div id="dLoginContainer">
        <div class="input-group login-text" perfect-parallax parallax-ratio="1.2" parallax-css="top" parallax-init-val="-160">>
            <input type="text" class="form-control" placeholder="Username">
            <input type="password" class="form-control" placeholder="Password">
            <br />
            <a href="" class="pull-right login-forgot-password" ng-click="launchPage.forgotPassword()">Forgot Password?</a>
        </div>
        <div class="login-submit" perfect-parallax parallax-ratio="1.2" parallax-css="top" parallax-init-val="-40">
            <button type="button" class="btn btn-submit btn-lg btn-block col-lg-12" ng-click="launchPage.login();">
                Login
            </button>
        </div>
    </div>
</div>
