//Modify Colors Here
@import '../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';
@import 'variables.scss';
@import 'calendar.scss';
@import 'mixins.scss';
@import 'member-profile.scss';
@import 'thumbnails.scss';

//Add fonts
@font-face {
    font-family: Corvette;
    src: url(../../fonts/CORVETTE.TTF);
}
//Adjust tag styles
body {
    background: none;
}
//Make classes here
.text-black {
    color: black;
}
.text-blue {
    color: $corvette-blue;
}
.text-dark-blue {
    color: $corvette-dark-blue;
}
.text-dark-blue-highlight {
    color: $corvette-dark-blue-highlight;
}
.text-bright-red {
    color: $corvette-bright-red;
}
.text-bright-red-highlight {
    color: $corvette-bright-red-highlight;
}
.text-grey {
    color: $corvette-grey;
}
.text-grey-highlight {
    color: $corvette-grey-highlight;
}
.text-grey-active {
    color: darken($corvette-grey, 20%) !important;
}
.text-orange {
    color: $corvette-orange;
}
.text-orange-highlight {
    color: $corvette-orange-highlight;
}
.text-red {
    color: $corvette-red;
}
.text-white {
    color: $corvette-white;
}
.text-white-highlight {
    color: $corvette-white-highlight;
}
.text-yellow {
    color: $corvette-yellow;
}
.text-yellow-highlight {
    color: $corvette-yellow-highlight;
}
.carbon-fiber-background {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPgo8cmVjdCB3aWR0aD0iOCIgaGVpZ2h0PSI4IiBmaWxsPSIjNDAzYzNmIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDBMOCA4Wk04IDBMMCA4WiIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2U9IiMxZTI5MmQiPjwvcGF0aD4KPC9zdmc+");
    z-index: 0;
}
.grey-background {
    background-color: $corvette-grey;
}
.btn-submit {
    @include custom-button (1px solid $corvette-red, $corvette-red, rgba(0, 0, 0, 0.8), inline-block, center, 1.1em, 1px solid $corvette-red, rgba(100, 100, 100, 0.8), $corvette-red, rgba(100, 100, 100, 0.8), $corvette-red, rgba(220, 20, 60, 0.4) solid thick);
}
.btn-cancel {
    @include custom-button (1px solid #111111, #111111, rgba(100, 100, 100, 0.8), inline-block, center, 1.1em, 1px solid #444444, rgba(0, 0, 0, 0.8), #bbbbbb, rgba(0, 0, 0, .8), #bbbbbb, rgba(100, 100, 100, 0.4) solid thick);
}
.btn-danger {
    @extend .btn-danger;
    @include custom-button (1px solid lighten($corvette-red, 10%), $corvette-grey-highlight, $corvette-red, inline-block, center, 1.1em, 1px solid lighten($corvette-red, 10%), lighten($corvette-red, 10%), $corvette-grey-highlight, rgba(100, 100, 100, 0.8), $corvette-grey-highlight, rgba(220, 20, 60, 0.4) solid thick);
}
.full-screen {
    min-height: 100vh;
    min-width: 100vw;
}
.full-screen-img {
    @extend .full-screen;
    max-height: 100vh;
    max-width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
}
.slideshow-img {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.slideshow-edge {
    z-index: 60;
    height: 250px;
}
.play-pause-container {
    @extend .col-xs-3, .col-sm-3, .col-md-3, .col-lg-4, .col-xs-offset-7, .col-sm-offset-9, .col-md-offset-9, .col-lg-offset-10;
    min-height: 60px;
    min-width: 200px;
    max-height: 60px;
    max-width: 200px;
    position: absolute;
    z-index: 101;
    bottom: 40px;
    padding-left: 48px;
    .media-control-container {
        border-radius: 50%;
        border: 1px solid #bbbbbb;
        padding: 10px;
        background: rgba(10, 10, 10, 0.7);
        color: #bbbbbb;
    }
    .media-control-container:hover {
        background: rgba(100, 100, 100, 0.8);
    }
    .play-pause {
        @extend .media-control-container;
        font-size: 2em;
        cursor: pointer;
    }
    .backward-forward {
        @extend .media-control-container;
        font-size: 1.2em;
        text-align: center;
        vertical-align: super;
        cursor: pointer;
    }
}
.webpage-title {
    @extend .hidden-xs;
    font-family: Corvette;
    z-index: 101;
    color: $corvette-red;
    font-size: 1.4em;
    position: absolute;
    top: 30px;
    padding-left: 10px;
    @include text-stroke($corvette-red, $corvette-red, 1px, black);
}
.webpage-title-xs {
    @extend .hidden-sm, .hidden-md, .hidden-lg;
    font-family: Corvette;
    z-index: 101;
    color: $corvette-red;
    font-size: .6em;
    position: absolute;
    top: 10px;
}
.second-line {
    margin-left: 45px;
}
.about-club {
    @extend .col-sm-8, .col-md-8, .col-lg-11, .hidden-xs;
    font-family: Corvette;
    z-index: 101;
    font-size: .8em;
    color: $corvette-red;
    position: absolute;
    bottom: 50px;
}
.about-club-xs {
    @extend .col-xs-11, .hidden-sm, .hidden-md, .hidden-lg;
    font-family: Corvette;
    z-index: 101;
    color: $corvette-red;
    font-size: .4em;
    position: absolute;
}
.home-actions {
    @extend .hidden-xs;
    position: absolute;
    z-index: 101;
    top: 25px;
    right: 50px;
}
.home-action-button {
    @include custom-button (1px solid $corvette-red, $corvette-red, rgba(0, 0, 0, 0.8), inline-block, center, 1.1em, 1px solid $corvette-red, rgba(100, 100, 100, 0.8), $corvette-red, rgba(100, 100, 100, 0.8), $corvette-red, rgba(100, 100, 100, 0.9) solid 5px);
    min-width: 120px;
    min-height: 30px;
    cursor: pointer;
    margin-left: 13px;
    padding-top: 4px;
}
.lauch-page-footer {
    position: fixed;
    font-family: Corvette;
    height: 40px;
    width: 100vw;
    bottom: 0px;
    padding-top: 10px;
    z-index: 50;
    background-color: black;
    .title {
        color: white;
        font-size: 0.6em;
        padding-left: 15px;
    }
    .space {
        min-width: 40px;
        display: inline-block;
    }
    .link {
        color: red;
        font-size: 0.5em;
    }
    .psuedo-anchor {
        &:hover {
            text-decoration: underline;
        }
    }
    .copyright {
        @extend .pull-right;
        font-family: sans-serif;
        color: $corvette-white;
        font-size: 1em;
        padding-right: 15px;
        padding-top: 3px;
    }
}
.login-title {
    @extend .col-sm-offset-2, .col-md-offset-2, .col-lg-offset-1;
    font-family: Corvette;
    color: $corvette-white;
    font-size: 1.4em;
    z-index: 20;
    position: absolute;
}
.register-title {
    @extend .col-sm-offset-1, .col-md-offset-1, .col-lg-offset-1;
    color: $corvette-white;
}
.about-title {
    @extend .login-title;
}
.login-text {
    @extend .col-sm-offset-1, .col-md-offset-2, .col-lg-offset-1, .col-xs-12, .col-sm-10, .col-md-8, .col-lg-10;
    position: absolute;
}
.login-forgot-password {
    color: $corvette-red;
}
.login-forgot-password:hover {
    color: $corvette-grey;
}
.login-forgot-password:focus {
    color: $corvette-grey;
    outline: none;
}
.login-submit {
    @extend .col-sm-offset-9, .col-md-offset-9, .col-lg-offset-9, .col-xs-12, .col-sm-3, .col-md-3, .col-lg-3;
    position: absolute;
    text-align: right;
}
.about-text {
    @extend .col-sm-offset-1, .col-md-offset-1, .col-lg-offset-1, .col-xs-12, .col-sm-10, .col-md-10, .col-lg-10;
    font-family: myraid-pro;
    color: $corvette-white;
    position: absolute;
}
.navbar-brand-corvette {
    @extend .navbar-brand;
    font-family: Corvette;
    color: $corvette-red !important;
    font-size: .3em;
}
.navbar-brand-authorized {
    @extend .navbar-brand;
    font-family: Corvette;
    color: $corvette-red !important;
    font-size: .6em;
}
.modal-title-corvette {
    @extend .modal-title;
    font-family: Corvette;
    color: $corvette-red;
    font-size: .8em
}
.input-group-register {
    @extend .input-group-addon;
    min-width: 110px;
    max-width: 110px;
}
.forgot-password {
    font-family: myriad;
    color: white;
    font-size: 1.1em
}
.forgot-password-subtitle {
    @extend .forgot-password;
    font-size: .8em;
}
.carousel-caption-custom {
    @extend .carousel-caption;
    bottom-padding: 0px;
    bottom: -20px;
    color: $corvette-orange;
}
.carousel-indicators-custom {
    @extend .carousel-indicators;
    bottom: -80px !important;
}
.carousel-active {
    border: 1px solid white;
    border-radius: 50%;
    background-color: $corvette-grey
}
.navbar-dark {
    @extend .navbar-default;
    background-color: black !important;
    color: $corvette-red;
    border: 1px solid $corvette-red;
    .navbar-dark .navbar-text {
        color: $corvette-grey;
    }
    .navbar-nav li a {
        color: $corvette-grey;
        &:hover {
            color: $corvette-grey-highlight;
        }
    }
    .navbar-user {
        color: $corvette-red;
        &:hover {
            color: $corvette-red-highlight;
        }
    }
}
.carousel-control.left {
    left: 10%;
    top: -10%;
    color: $corvette-grey;
    span {
        cursor: pointer;
    }
}
.carousel-control.right {
    right: 10%;
    top: -10%;
    color: $corvette-grey;
    span {
        cursor: pointer;
    }
}
.club-events-home {
    @include home-page-side-widget;
    background-color: $corvette-grey;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 7px 7px 5px #444444;
}
.club-feed-home {
    @include home-page-side-widget;
}
.user-actions {
    position: absolute;
    right: 3px;
    top: 63px;
    background-color: $corvette-grey;
    z-index: 500;
    color: $corvette-white;
    border-radius: 0px 0px 5px 5px;
    .primary-link {
        @extend .text-white;
        &:hover {
            color: $corvette-white-highlight;
        }
    }
    .secondary-link {
        @extend .text-red;
        &:hover {
            color: $corvette-red-highlight;
        }
    }
}

.member-card {
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    background-color: $corvette-grey;
    border-radius: 5px;
    img {
        max-height: 60px;
        max-width: 60px;
    }
    &:hover {
        text-decoration: none;
        cursor: pointer;
        background-color: $corvette-grey-highlight;
        .member-item-text {
            color: $corvette-grey;
        }
    }
    .member-item {
        margin-top: 10px;
    }

    .member-item-text {
        padding-left: 10px;
    }
    .card-image {
        max-height: 60px;
        max-width: 60px;
    }
}

.form-control-corvette-club {
    @extend .form-control;
    &:focus {
        border-color: $corvette-bright-red;
    }
}

.glyphicon-shopping-cart-navbar {
    @extend.glyphicon-shopping-cart;
    font-size: 1.6em;
    vertical-align: middle;
}

.shopping-cart-amount {
    border-radius: 50%;
    min-height: 15px;
    min-width: 15px;
    text-align: center;
    display: inline-block;
    line-height: 15px;
    position: relative;
    left: 24px;
    z-index: 1;
    color: black;
}

.add-pointer {
    cursor: pointer;
}

.inner-container {
    height: 80vh;
}

.shopping-cart {
    color: black;
    hr {
        color: black;
        background-color: black;
        border: 1px solid black;
        height: 1px;
    }
    .shopping-cart-item {
        height: 120px;
        line-height: 120px;
        padding: 10px;
        border-bottom: 1px solid #111111;
        margin-top: 20px;
        img {
            max-height: 120px;
            max-width: 150px;
            margin-top: -10px;
        }
        h4, a {
            margin-top: -20px;
        }
        a {
            color: $corvette-dark-blue;
            &:hover {
                color: $corvette-dark-blue-highlight;
            }
        }
        p {
            margin-top: 80px;
            color: $corvette-red;
            line-height: 1em;
            &:hover {
                color: $corvette-red-highlight;
                text-decoration: underline;
            }
        }
    }
    .product-price {
        @extend .col-lg-1, .col-lg-offset-1;
        color: $corvette-dark-blue;
        h4 {
            margin-top: -20px;
        }
    }
    .product-quantity {
        @extend .col-lg-2, .col-lg-offset-1;
        select {
            margin-top: -20px;
        }
        label {
            margin-top: 20px;
        }
    }
}

.corvette-font {
    font-family: Corvette;
}
.merchandise-items-container {
    height: 80vh;
    overflow: auto;
    .merchandise-item {
        img {
            max-height: 200px;
            max-width: 200px;
        }
    }
}
