//Modify Colors Here
@import '../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';
//Add variables
$corvette-red: #a70209 !default;
$corvette-orange: #ff830b !default;
$corvette-grey: #514954 !default;
//Create mixins
@mixin custom-button($border, $color, $background, $display, $text-align, $font-size, $primary-border, $primary-background, $primary-color, $secondary-background, $secondary-color, $secondary-outline) {
    @extend .btn;
    border: $border;
    color: $color;
    background: $background;
    display: $display;
    text-align: $text-align;
    font-size: $font-size;
    &:hover, &:active, &:active:hover {
        border: $primary-border;
        background: $primary-background;
        color: $primary-color;
    }
    &:focus, &:active:focus, &.active:focus, &.focus, &:active.focus, &.active.focus {
        border: $secondary-background;
        color: $secondary-color;
        outline: $secondary-outline;
    }
}

@mixin text-stroke($fallbackColor, $fillColor, $strokeWidth, $strokeColor) {
    color: $fallbackColor;
    -webkit-text-fill-color: $fillColor; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: $strokeWidth;
    -webkit-text-stroke-color: $strokeColor;
}

@mixin home-page-side-widget {
    background-color: black;
    padding: 15px;
    min-width: 100%;
    .header {
        background-color: black;
        color: $corvette-red;
        text-align: center;
        font-family: Corvette;
        font-size: 0.6em;
    }
}

//Add fonts
@font-face {
    font-family: Corvette;
    src: url(../../fonts/CORVETTE.TTF);
}

//Adjust tag styles
body {
    background: none;
}

//Make classes here
.carbon-fiber-background {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPgo8cmVjdCB3aWR0aD0iOCIgaGVpZ2h0PSI4IiBmaWxsPSIjNDAzYzNmIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDBMOCA4Wk04IDBMMCA4WiIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2U9IiMxZTI5MmQiPjwvcGF0aD4KPC9zdmc+");
    z-index: 0;
}

.btn-submit {
    @include custom-button (1px solid $corvette-red, $corvette-red, rgba(0,0,0,0.8), inline-block, center, 1.1em, 1px solid $corvette-red, rgba(100, 100, 100, 0.8), $corvette-red, rgba(100,100,100,0.8), $corvette-red, rgba(220,20,60,0.4) solid thick);
}

.btn-cancel {
    @include custom-button (1px solid #111111, #111111, rgba(100, 100, 100, 0.8), inline-block, center, 1.1em, 1px solid #444444, rgba(0,0,0,0.8), #bbbbbb, rgba(0,0,0,.8), #bbbbbb, rgba(100,100,100,0.4) solid thick);
}

.full-screen {
    min-height: 100vh;
    min-width: 100vw;
}

.full-screen-img {
    @extend .full-screen;
    max-height: 100vh;
    max-width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
}

.slideshow-img {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.slideshow-edge {
    z-index: 60;
    height: 250px;
}

.play-pause-container {
    @extend .col-xs-3, .col-sm-3, .col-md-3, .col-lg-4, .col-xs-offset-7, .col-sm-offset-9, .col-md-offset-9, .col-lg-offset-10;
    min-height: 60px;
    min-width: 200px;
    max-height: 60px;
    max-width: 200px;
    position: absolute;
    z-index: 101;
    bottom: 40px;
    padding-left: 48px;
}

.media-control-container {
    border-radius: 50%;
    border: 1px solid #bbbbbb;
    padding: 10px;
    background: rgba(10, 10, 10, 0.7);
    color: #bbbbbb;
}

.media-control-container:hover {
    background: rgba(100, 100, 100, 0.8);
}

.play-pause {
    @extend .media-control-container;
    font-size: 2em;
    cursor: pointer;
}

.backward-forward {
    @extend .media-control-container;
    font-size: 1.2em;
    text-align: center;
    vertical-align: super;
    cursor: pointer;
}

.webpage-title {
    @extend .hidden-xs;
    font-family: Corvette;
    z-index: 101;
    color: $corvette-red;
    font-size: 1.4em;
    position: absolute;
    top: 30px;
    padding-left: 10px;
    @include text-stroke($corvette-red, $corvette-red, 1px, black);
}

.webpage-title-xs {
    @extend .hidden-sm, .hidden-md, .hidden-lg;
    font-family: Corvette;
    z-index: 101;
    color: $corvette-red;
    font-size: .6em;
    position: absolute;
    top: 10px;
}

.second-line {
    margin-left: 45px;
}

.about-club {
    @extend .col-sm-8, .col-md-8, .col-lg-11, .hidden-xs;
    font-family: Corvette;
    z-index: 101;
    font-size: .8em;
    color: $corvette-red;
    position: absolute;
    bottom: 50px;
}

.about-club-xs {
    @extend .col-xs-11, .hidden-sm, .hidden-md, .hidden-lg;
    font-family: Corvette;
    z-index: 101;
    color: $corvette-red;
    font-size: .4em;
    position: absolute;
}

.home-actions {
    @extend .hidden-xs;
    position: absolute;
    z-index: 101;
    top: 25px;
    right: 50px;
}

.home-action-button {
    @include custom-button (1px solid $corvette-red, $corvette-red, rgba(0,0,0,0.8), inline-block, center, 1.1em, 1px solid $corvette-red, rgba(100, 100, 100, 0.8), $corvette-red, rgba(100,100,100,0.8), $corvette-red, rgba(100, 100,100,0.9) solid 5px);
    min-width: 120px;
    min-height: 30px;
    cursor: pointer;
    margin-left: 13px;
    padding-top: 4px;
}

.lauch-page-footer {
    position: fixed;
    font-family: Corvette;
    height: 40px;
    width: 100vw;
    bottom: 0px;
    padding-top: 10px;
    z-index: 50;
    background-color: black;
    .title {
        color: white;
        font-size: 0.6em;
        padding-left: 15px;
    }
    .space {
        min-width: 40px;
        display: inline-block;
    }
    .link {
        color: red;
        font-size: 0.5em;
    }
    .psuedo-anchor {
        &:hover {
            text-decoration: underline;
        }
    }
    .copyright {
        @extend .pull-right;
        font-family: sans-serif;
        color: white;
        font-size: 1em;
        padding-right: 15px;
        padding-top: 3px;
    }
}

.login-title {
    @extend .col-sm-offset-2, .col-md-offset-2, .col-lg-offset-1;
    font-family: Corvette;
    color: white;
    font-size: 1.4em;
    z-index: 20;
    position: absolute;
}

.register-title {
    @extend .col-sm-offset-1, .col-md-offset-1, .col-lg-offset-1;
    color: white;
}

.about-title {
    @extend .login-title;
}

.login-text {
    @extend .col-sm-offset-1, .col-md-offset-2, .col-lg-offset-1, .col-xs-12, .col-sm-10, .col-md-8, .col-lg-10;
    position: absolute;
}

.login-forgot-password {
    color: $corvette-red;
}

.login-forgot-password:hover {
    color: $corvette-grey;
}

.login-forgot-password:focus {
    color: $corvette-grey;
    outline: none;
}

.login-submit {
    @extend .col-sm-offset-9, .col-md-offset-9, .col-lg-offset-9, .col-xs-12, .col-sm-3, .col-md-3, .col-lg-3;
    position: absolute;
    text-align: right;
}

.about-text {
    @extend .col-sm-offset-1, .col-md-offset-1, .col-lg-offset-1, .col-xs-12, .col-sm-10, .col-md-10, .col-lg-10;
    font-family: myraid-pro;
    color: white;
    position: absolute;
}

.navbar-brand-corvette {
    @extend .navbar-brand;
    font-family: Corvette;
    color: $corvette-red !important;
    font-size: .3em;
}

.navbar-brand-authorized {
    @extend .navbar-brand;
    font-family: Corvette;
    color: $corvette-red !important;
    font-size: .6em;
}

.navbar-dark {
    @extend .navbar-default;
    background-color: black !important;
    color: $corvette-red;
    border: 1px solid $corvette-red;
}

.modal-title-corvette {
    @extend .modal-title;
    font-family: Corvette;
    color: $corvette-red;
    font-size: .8em
}

.input-group-register {
    @extend .input-group-addon;
    min-width: 110px;
    max-width: 110px;
}

.forgot-password {
    font-family: myriad;
    color: white;
    font-size: 1.1em
}

.forgot-password-subtitle {
    @extend .forgot-password;
    font-size: .8em;
}

.navbar-user {
    color: $corvette-red !important;
}

.carousel-caption-custom {
    @extend .carousel-caption;
    bottom-padding: 0px;
    bottom: -20px;
    color: $corvette-orange;
}

.carousel-indicators-custom {
    @extend .carousel-indicators;
    bottom: -80px !important;
}

.carousel-active {
    border: 1px solid white;
    border-radius: 50%;
    background-color: $corvette-grey
}

.navbar-dark .navbar-nav {
    li {
        a {
            color: $corvette-grey;
        }
    }
}

.navbar-dark .navbar-text {
    color: $corvette-grey;
}

.carousel-control.left {
    left: 10%;
    top: -10%;
    color: $corvette-grey;
    span {
        cursor: pointer;
    }
}

.carousel-control.right{
    right: 10%;
    top: -10%;
    color: $corvette-grey;
    span {
        cursor: pointer;
    }
}

.club-events-home {
    @include home-page-side-widget;
}

.club-feed-home {
    @include home-page-side-widget;
}
