//Add variables
$corvette-blue:#0070af !default;
$corvette-blue-highlight:#a2cdf7 !default;
$corvette-bright-red:#fe1c03 !default;
$corvette-bright-red-highlight:#fe7e7b !default;
$corvette-dark-blue:#06213e !default;
$corvette-dark-blue-highlight:#6c8baa !default;
$corvette-grey:#5c5b61 !default;
$corvette-grey-highlight:#bab8c3 !default;
$corvette-orange:#881d09 !default;
$corvette-orange-highlight:#d5bbbe !default;
$corvette-red:#9c0121 !default;
$corvette-red-highlight:#fb7c87 !default;
$corvette-silver:#d8d8d8 !default;
$corvette-silver-highlight:#fefefe !default;
$corvette-white:#e9e9e9 !default;
$corvette-white-highlight:#fdfdfd !default;
$corvette-yellow:#fecb02 !default;
$corvette-yellow-highlight:#fdef6a !default;
